body{
    margin: 0;
    padding: 0;
    background: #19374B;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #19374B;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*HEADER*/
header{
    width: 100%;
    height: 60px;
    /* background-color: #052337; */
    background-color: #ffc13b;
    text-align: center;
    display: flex;
    flex-direction: row;
    color:#19374B;
    box-shadow: 5px 5px black;
}
#clock{
    width: 4%;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 3px;
    margin-right: 550px;
    font-size: 45px;
    padding-bottom: 2px;
    background-color: #f5f0e1;
}
#room-id{
    font-size: 30px;
}

/*CHAT*/
#chat{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 500px;
    width: 250px;
    min-width: 150px;
    border: 2px solid black;
    text-align: left;
    align-items: center;
    margin-right: 10px;
    background: white;
}

.message-box{
    width: 100%;
    height: 93%;
    overflow-y: scroll;
}
#message-input{
    height: 7%;
    width: 90%;
    margin-bottom: 5px;  
    border: 2px solid black;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.message{
    margin-left: 3px;
    margin-bottom: 2px;
    margin-top: 2px;
    border-bottom: 1px solid black;
}

/*PALETA*/
.profile-and-palette{
    display: flex;
    flex-direction: column;
}

.palette{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-self: center;
    width: 200px;
    height: 250px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ff6e40;
    box-shadow: 2px 2px black;
}
#color-picker-palette{
    align-self: center;
    margin-top: 15px;
    margin-bottom: 20px;  
}

#brush-size{
    border: 1px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    align-self: center;
    background-color: black;
}
.palette-icons{
    position: absolute;
    margin-top: 190px;
    padding-left: 50px;
}
#broom{
    border: 2px solid black;
    padding: 3px;
    cursor: pointer;
}
#bucket{
    border: 2px solid black;
    padding: 3px;
    cursor: pointer;
}
.palette label{
    color: whitesmoke;
    text-shadow: 1px 1px black;
    font-size: 20px;
    padding-top: 5px;
}
/*PROFIL*/
#profile{
    width: 200px;
    height: 220px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ff6e40;
    box-shadow: 2px 2px black;
}
#profile-pic{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#player-name{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
.ranking{
    display: flex;
    flex-direction: row;
}
.badge{
    height: 70px;
    width: 40%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 50px;
}

#points{
    font-size: 40px;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
}
#number-of-points{
   text-align: center;
   color: whitesmoke;
   vertical-align: middle;
   text-shadow: 1px 1px black;
}

/*CANVAS*/
canvas{
    border: 2px solid black;
    background: white;
}

.canvas{
    display: flex;
    flex-direction: column;
}

#start-button{
    width: 40%;
    align-self: center;
    margin-top: 20px;
    height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    border-radius: 15px;
    background-color: #f5f0e1;
    box-shadow: 2px rgb(190, 59, 123);
    text-shadow: 1px 1px gray;
    
}
#start-button:hover{
    transition: 0.5s ease-in-out;
    background-color: lightgrey;
    width: 43%;
    height: 55px;
    font-size: 35px;
}

/*PLAYERS-LIST*/
#players-list{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
    border: 2px solid black;
    background: #ff6e40;
    min-width: 200px;
}
#players-list-title-box{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
    background-color: #ff6e40;
}
#players-list-title{
    text-align: center;
    font-weight: bold;
    height: 10%;
    border-bottom: 2px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.list-of-players{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}
.player{
    margin-left: 5px;
    width: 100%;
    height: 10%;
    text-align: left;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
